
body { font-family: Arial; background:#111; color:white; text-align:center; }
input, button { padding:10px; margin:5px; }
#chat { width:400px; height:300px; margin:auto; overflow:auto; border:1px solid #444; }
